@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    color: white;
    letter-spacing: 5px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: white;
}

p, li {
    font-family: 'Roboto', sans-serif;
}
a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
}

body {
    display: inline;
}

.divider {
    width: 100%;
    height: 10px;
    background-color: #B01200;
    overflow: hidden;
}

/* ========================================== HEADER STYLING ========================================== */
header {
    width:100%;
    height: 250px;
    overflow: hidden;
    background-color: #B01200;
    
}

#menu-bar-top {
    width:100%;
    background-color: #B01200;
}

#menu-bar-bottom {
    width:100%;
    background-color: #B01200;
}

#menu-bar-top, #menu-bar-bottom {
    display: inline-block;
    position: relative;
}
#menu-bar-bottom-inner {
    width: 90%;
    margin: 0 auto;
}

#menu-bar-top h1 {
    margin: 25px 50px 25px 50px;
}

#menu {
    list-style-type: none;
    background-color: lightgray;
}

#menu a {
    text-decoration: none;
    text-align: center;
    position: relative;
    font-size: 30px;
    color: white;
}

#menu a:hover {
    text-decoration: none;
    text-align: center;
    position: relative;
    font-size: 30px;
    color: white;
}

#menu a:link {
    text-decoration: none;
    text-align: center;
    position: relative;
    font-size: 30px;
    color: white; 
}

#menu li {
    float: left;
    background-color: #B01200;
    color: white;
    margin: 20px;
}

#menu li:hover {
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}


/* ========================================== FOOTER.HTML STYLING ========================================== */
footer {
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-color: #B01200;
}

#social-media {
    height: 100%;
    width: 100%;
    position: relative;
    display: inline-block;
}

#social-media-heading {
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    background-color: #B01200;
}

#social-media-heading h2 {
    font-size: 50px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: white;
    letter-spacing: 5px;
}

#social-media-links {
    width: 600px;
    height: 100px;
    margin: 0 auto;
    background-color: #B01200;
}

#social-media-links ul {
    list-style-type: none;
    position: relative;
    margin: 0 auto;
}

#social-media-links a {
    text-decoration: none;
    text-align: center;
    position: relative;
    font-size: 80px;
    margin-left: 50px;
    color: white;
}

#social-media-links a:hover {
    text-decoration: none;
    text-align: center;
    position: relative;
    font-size: 80px;
    margin-left: 50px;
    color: lightskyblue;
}

#social-media-links a :link {
    text-decoration: none;
    color: white;
}


#social-media-links ul li {
    position: relative;
    float: left;
}

/* ========================================== INDEX.HTML STYLING ========================================== */

.section-headings {
    text-align: center;
    font-size: 50px;
    background-color: #B01200;
    height: 100px;
    padding-top: 10px;
}


/* ================================== WELCOME SECTION STYLING ================================== */

#welcome-section {
    width:100%;
    height: 800px;
    overflow: hidden;
    position: relative;
}

#welcome-box {
    width: 700px;
    height: 500px;
    color: white;
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    z-index: 2;
}

#welcome-header h2 {
    height: 50px;
    font-size: 40px;
    text-align: center;
    opacity: 0.7;
    background-color:#B01200;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

#welcome-text {
    display: none;
    padding: 50px;
    opacity: 0.7;
    background-color:#B01200;
}

#bradda-head {
    width: 100%;
    opacity: 0.8;
    position: absolute;
    z-index: 1;
    top: 0px;
}

/* ================================== BASIC INFO SECTION STYLING ================================== */
#basic-info-section {
    width:100%;
    height: 1000px;
    overflow: hidden;
}

#basic-info-header h1 {
    text-align: center;
    font-size: 50px;
}

#basic-info-header p {
    text-align: center;
    font-size: 25px;
    color: white;
}

#basic-info-inner {
    width: 100%;
    height: 900px;
}

#inner-left, #inner-center, #inner-right {
    display: inline-block;
    width: 33.3%;
    height: 100%;
}

#inner-left, #inner-center, #inner-right {
    position: relative;
}

#inner-left {
    float: left;
}

#inner-center {
    margin: 0 auto;
}

#inner-right {
    float: right;
}

.basic-info-boxes {
    width: 100%;
    height: 300px;
    border: 1px solid white;
}


#capital, #population, #language, #flag, #currency, #nationality, #climate, #government, #workpermit {
    width: 100%;
    height: 100%;
    perspective: 1000px;
}

#capital-container, #population-container, #language-container, #flag-container, #currency-container, #nationality-container, #climate-container, #government-container, #workpermit-container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.flip-box {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.basic-info-boxes-inner {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #B01200;
}

#capital-back, #population-back, #language-back, #flag-back, #currency-back, #nationality-back, #climate-back, #government-back, #workpermit-back {
    transform: rotateY(180deg);
}

#population-back p a:hover {
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

#government-back p a:hover {
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

#IoM-flag, #IoM5er {
    width: 200px;
}

.flip-box {
    padding-top: 10px;
}
.flip-box h2 {
    padding-top: 25%;
    font-size: 50px;
    color: white;
}

.flip-box h3 {
    font-size: 25px;
    color: white;
}

.flip-box p {
    font-size: 20px;
    padding: 20px;
    color: white;
}

.rotate {
    transform: rotateY(180deg);
}

/* ================================== FACTS SECTION STYLING ================================== */
#facts-section {
    width:100%;
    height: 500px;
    overflow: hidden;
    border: 1px solid green; /* Remove later */
}

/* ================================== MAPS SECTION STYLING ================================== */
#maps-section {
    width:100%;
    height: 1500px;
    overflow: hidden;
}

#map-container {
    height:100%;
}

#map-container h1 {
    text-align: center;
    font-size: 50px;
}

#map {
    width: 700px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    border: #B01200 10px solid;
    border-radius: 5px;
    box-shadow: 2px 5px 8px;
}

#activities-container {
    height: 200px;
    width: 100%;
    border: 1px black solid;
    position: relative;
}

.map-info-window {
    height: 150px;
    width: 200px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #B01200;
}

.map-info-window h2 {
    color: #B01200;
    font-size: 20px;
}

.map-info-window p, .map-info-window a {
    font-size: 15px;
    text-align: center;
    color: #B01200;
}

.map-info-window i {
    font-size: 75px;
    text-align: center;
}

.map-info-window p i {
    text-align: center;
    color: gold;
    font-size: 15px;
}

.map-info-window p a:hover {
    padding-bottom: 1px;
    border-bottom: 1px solid #B01200;
}

#location-details-container {
    height: 1000px;
    width: 100%;
    position: relative;
}

#location-details-inner {
    height: 450px;
    width: 500px;
    position: relative;
    margin: 0 auto; 
}

#button-container {
    height: 50px;
    width: 700px;
    margin: 0 auto;
    background-color: lightgoldenrodyellow;
    margin-top: 20px;
}

.buttons {
    height: 40px;
    width: 50px;
    display: inline-block;
}

.location {
    height: 100%;
    width: 100%;
    position: relative;
    display: none;
    border: #B01200 2px solid;
    border-radius: 5px;
    box-shadow: 3px 7px 10px;
    margin-top: 10px;
    background-color: #B01200;
}

.location-inner {
    height: 100%;
    width: 100%;
    position: relative;
    display:inline-block;
}

.location-header {
    width: 95%;
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.location-header h2 {
    font-size: 25px;
    color: white;
}

.location-text {
    width: 95%;
    height: 50px;
    position: relative;
    margin: 0 auto;
    border: 1px #B01200 solid;
    margin-bottom: 10px;
}

.location-text p{
    margin: 5px;
    padding: 5px;
    color: white;
}

.location-image-container {
    width: 95%;
    height: 250px;
    position: relative;
    margin: 0 auto;
    border: #B01200 1px solid;
    overflow: hidden;
    border-radius: 20px;
}

.location-pics {
    width: 100%;
    transition: transform 1.0s;
}

.location-pics:hover {
    transform: scale(1.25)
}

.website-link {
    width: 115px;
    height: 25px;
    position: relative;
    margin: 0 auto;
    padding: 5px;
    margin-top: 25px;
}

.website-link a {
    width: 150px;
    height: 25px;
    background-color: #B01200;
    color: white;
    text-align: center;
    font-size: 15px;
    border: 1px white solid;
    border-radius: 5px;
    margin:5px;
    padding: 5px;
    
}

.website-link a:hover {
    width: 150px;
    height: 25px;
    background-color: white;
    color: #B01200;
    text-align: center;
    font-size: 15px;
}

/* ================================== USEFUL LINKS SECTION STYLING ================================== */

#useful-links-section {
    width:100%;
    height: 500px;
    overflow: hidden;
    border: 1px solid green; /* Remove later */
}
/* ========================================== CONTACT.HTML STYLING ========================================== */


/* ========================================== TABLET STYLING ========================================== */

@media screen and (max-width: 1393px){
    body {
        background-color: lightyellow;
    }

   
}


/* =============================================== MOBILE PHONE SCREENS =============================================== */

@media screen and (max-width: 768px){
    body {
        background-color: lightsteelblue;
    }


}