@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    color: white;
    letter-spacing: 5px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: white;
}

p, li {
    font-family: 'Roboto', sans-serif;
}
a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
}

body {
    display: inline;
}



/* ========================================== HEADER STYLING ========================================== */
header {
    width:100%;
    height: 250px;
    overflow: hidden;
    background-color: #B01200;
    
}

#menu-bar-top {
    width:100%;
    background-color: #B01200;
}

#menu-bar-bottom {
    width:100%;
    background-color: #B01200;
}

#menu-bar-top, #menu-bar-bottom {
    display: inline-block;
    position: relative;
}
#menu-bar-bottom-inner {
    width: 1100px;
    display: block;
    position: relative;
    margin: 0 auto;
}

#menu-bar-top h1 {
    margin: 25px 50px 25px 50px;
}

#menu {
    list-style-type: none;
    background-color: lightgray;
}

#menu a {
    text-decoration: none;
    text-align: center;
    position: relative;
    font-size: 30px;
    color: white;
}

#menu a:hover {
    text-decoration: none;
    text-align: center;
    position: relative;
    font-size: 30px;
    color: white;
}

#menu a:link {
    text-decoration: none;
    text-align: center;
    position: relative;
    font-size: 30px;
    color: white; 
}

#menu li {
    float: left;
    background-color: #B01200;
    color: white;
    margin: 20px;
}

#menu li:hover {
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

#dropdown {
    display: none;
}


/* ========================================== FOOTER.HTML STYLING ========================================== */
footer {
    width: 100%;
    height: 250px;
    overflow: hidden;
    background-color: #B01200;
}

#social-media {
    height: 100%;
    width: 100%;
    position: relative;
    display: inline-block;
}

#social-media-heading {
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    background-color: #B01200;
}

#social-media-heading h2 {
    font-size: 50px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: white;
    letter-spacing: 5px;
}

#social-media-links {
    width: 600px;
    height: 100px;
    margin: 0 auto;
    background-color: #B01200;
}

#social-media-links ul {
    list-style-type: none;
    position: relative;
    margin: 0 auto;
}

#social-media-links a {
    text-decoration: none;
    text-align: center;
    position: relative;
    font-size: 80px;
    margin-left: 50px;
    color: white;
}

#social-media-links a:hover {
    text-decoration: none;
    text-align: center;
    position: relative;
    font-size: 80px;
    margin-left: 50px;
    color: lightskyblue;
}

#social-media-links a :link {
    text-decoration: none;
    color: white;
}


#social-media-links ul li {
    position: relative;
    float: left;
}

/* ========================================== INDEX.HTML STYLING ========================================== */

.section-headings {
    text-align: center;
    font-size: 50px;
    background-color: #B01200;
    height: 100px;
    padding-top: 10px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: white;
    overflow: hidden;
}

.minimize {
    height: 50px;
    width: 40px;
    float: left;
    color: white;
    margin-left: 30px;
}

.minimize i {
    font-size: 50px;
    background-color: #B01200;
    text-decoration: none;
}

.minimize-section {
    height: 50px;
}

.show-background {
    display: none;
}
/* ================================== WELCOME SECTION STYLING ================================== */

#welcome-section {
    width:100%;
    height: 800px;
    overflow: hidden;
    position: relative;
}

#welcome-box {
    width: 700px;
    height: 500px;
    color: white;
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    z-index: 2;
}

#welcome-header h2 {
    height: 50px;
    font-size: 40px;
    text-align: center;
    opacity: 0.7;
    background-color: #B01200;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

#welcome-text p {
    font-size: 20px;
}

#welcome-text {
    display: none;
    padding: 50px;
    opacity: 0.7;
    background-color:#B01200;
}

#bradda-head {
    width: 100%;
    opacity: 0.8;
    position: absolute;
    z-index: 1;
    top: 0px;
}

/* ================================== BASIC INFO SECTION STYLING ================================== */
#basic-info-section {
    width:100%;
    height: 1000px;
    overflow: hidden;
}

#basic-info-header h1 {
    text-align: center;
    font-size: 50px;
}

#basic-info-header p {
    text-align: center;
    font-size: 25px;
    color: white;
}

#basic-info-inner {
    width: 100%;
    height: 900px;
}

#inner-left, #inner-center, #inner-right {
    display: inline-block;
    width: 33.3%;
    height: 100%;
}

#inner-left, #inner-center, #inner-right {
    position: relative;
}

#inner-left {
    float: left;
}

#inner-center {
    margin: 0 auto;
}

#inner-right {
    float: right;
}

.basic-info-boxes {
    width: 100%;
    height: 300px;
    border: 1px solid white;
}


#capital, #population, #language, #flag, #currency, #nationality, #climate, #government, #workpermit {
    width: 100%;
    height: 100%;
    perspective: 1000px;
}

#capital-container, #population-container, #language-container, #flag-container, #currency-container, #nationality-container, #climate-container, #government-container, #workpermit-container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.flip-box {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.basic-info-boxes-inner {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #B01200;
}

#capital-back, #population-back, #language-back, #flag-back, #currency-back, #nationality-back, #climate-back, #government-back, #workpermit-back {
    transform: rotateY(180deg);
}

#population-back p a:hover {
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

#government-back p a:hover {
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

#IoM-flag, #IoM5er {
    width: 200px;
}

.flip-box {
    padding-top: 10px;
}
.flip-box h2 {
    padding-top: 25%;
    font-size: 50px;
    color: white;
}

.flip-box h3 {
    font-size: 25px;
    color: white;
}

.flip-box p {
    font-size: 20px;
    padding: 20px;
    color: white;
}

.rotate {
    transform: rotateY(180deg);
}

/* ================================== QUICK FACTS SECTION STYLING ================================== */
#facts-section {
    width:100%;
    height: 1100px;
    overflow: hidden;
}

#fact-button {
    float: right;
    position: relative;
    border: 1px black solid;
    margin: 15px;
    padding: 5px;
    background-color: #B01200;
    color: white;
    border-radius: 5px;
    z-index: 2;
}

#fact-button:hover {
    float: right;
    position: relative;
    border: 1px black solid;
    margin: 15px;
    padding: 5px;
    background-color: white;
    color: #B01200;
    border-radius: 5px;
    z-index: 2;
}

#facts-container {
    width: 100%;
    height: 100%;
    position: relative;
}

#niarbyl {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    z-index: 1;
    top: 0px;
}

#facts-header, #facts-bottom {
    z-index: 2;
    position: relative;
}

#facts-top {
    width: 1100px;
    display: block;
    background-color: lightcyan;
    margin: 0 auto;
    margin-top: 20px;
}

.fact-box {
    height: 350px;
    width: 300px;
    display: inline-block; 
    margin: 10px;
    padding: 10px;
    background-color: #B01200;
    position: relative;
    border: #B01200 2px solid;
    border-radius: 5px;
    box-shadow: 3px 7px 10px;
}

#facts-bottom {
    width: 700px;
    height: 750px;
    margin: 0 auto;
    background-color: #B01200;
    position: relative;
    border: #B01200 2px solid;
    border-radius: 5px;
    box-shadow: 3px 7px 10px;
    margin-top: 50px;
}

#facts-bottom h2 {
    font-size: 30px;
    color: white;
    margin-top: 10px;
}

#fact-2 {
    display: none;
}

#fact-3 {
    display: none;
}

.fact {
    height: 600px;
    width: 600px;
    position: relative;
    margin: 20px;
    padding: 20px;
}

.fact p {
    color: white;
}

#lydia-becker, #beegees, #manxcat {
    width: 200px;
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
}

#form-1, #form-2, #form-3, #form-4, #giveUp {
    width: 200px;
    height: 75px;
    display: block;
    margin: 0 auto;
    border: 1px solid #B01200;
    margin-top: 10px;
    margin-bottom: 10px;
}

#giveUp1, #answer-text1, #giveUp2, #answer-text2, #giveUp3, #answer-text3 {
    display: none;
}

#giveUp1 p, #instructions1, #answer-text1, #giveUp2 p, #instructions2, #answer-text2, #giveUp3 p, #instructions3, #answer-text3 {
    font-size: 35px;
    text-align: center;
    color: white;
}

#form-1-year, #form-2-year, #form-3-year, #form-4-year {
    width: 100%;
    height: 75px;
    font-size: 50px;
    text-align: center;
    border-radius: 5px;
    color: #B01200;
}

#form-3-year {
    width: 700px;
}

#guess1, #answer1, #reset1, #guess2, #answer2, #reset2, #answer3, #reset3, #leg, #tail, #toes {
    background-color: #B01200;
    color: white;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 20px;
}

#leg, #tail, #toes {
    margin: 3px;
}

#guess1:hover, #answer1:hover, #reset1:hover, #guess2:hover, #answer2:hover, #reset2:hover, #answer3:hover, #reset3:hover, #leg:hover, #tail:hover, #toes:hover {
    background-color: white;
    color: #B01200;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 20px;
}

#leg:hover, #tail:hover, #toes:hover {
    margin: 3px;
}

#guess-output1, #guess-output2, #guess-output3 {
    font-size: 30px;
    text-align: center;
}

#leg-text p, #tail-text p, #toes-text p {
    font-size: 40px;
    text-align: center;
    color: white;
    display: none;
}

#answer-text1, #answer-text2, #answer-text3 {
    font-size: 20px;
}

center {
    margin: 10px;
}
#button-toggle {
    height: 60px;
    width:350px;
    position: relative;
    margin: 0 auto;
    background-color: #B01200;
    margin-top: 30px;
    z-index: 2;
    border-radius: 5px;
    box-shadow: 3px 7px 10px;
}

#question1, #question2, #question3 {
    display: inline-block;
    border: 1px white solid;
    margin: 15px;
    padding: 5px;
    background-color: #B01200;
    color: white;
    border-radius: 5px;
}

#question1:hover, #question2:hover, #question3:hover {
    display: inline-block;
    border: 1px white solid;
    margin: 15px;
    padding: 5px;
    background-color: white;
    color: #B01200;
    border-radius: 5px;
}

/* ================================== MAPS SECTION STYLING ================================== */
#maps-section {
    width:100%;
    height: 1500px;
    overflow: hidden;
}

#map-button {
    float: right;
    position: relative;
    border: 1px black solid;
    margin: 15px;
    padding: 5px;
    background-color: #B01200;
    color: white;
    border-radius: 5px;
    z-index: 2;
}

#map-button:hover {
    float: right;
    position: relative;
    border: 1px black solid;
    margin: 15px;
    padding: 5px;
    background-color: white;
    color: #B01200;
    border-radius: 5px;
    z-index: 2;
}

#map-container {
    width: 100%;
    height:100%;
    position: relative;
    z-index: 2;
}

#map-container h1 {
    text-align: center;
    font-size: 50px;
}
#map-header {
    position: relative;
    z-index: 2;
}

#map-intro {
    height: 100px;
    width: 600px;
    position: relative;
    z-index: 2;
    margin: auto;
    color: white;
    background-color: #B01200;
    border-radius: 5px;
    box-shadow: 2px 5px 8px black;
    padding: 5px;
    margin-top: 10px;
}

#map-intro h3 {
    font-size: 20px;
    text-align: center;
    color: white;
    margin-top: 20px;
}

#map {
    width: 700px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    border: #B01200 10px solid;
    border-radius: 5px;
    box-shadow: 2px 5px 8px;
    position: relative;
    z-index: 2
}

#activities-container {
    height: 200px;
    width: 100%;
    border: 1px black solid;
    position: relative;
}

.map-info-window {
    height: 150px;
    width: 200px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #B01200;
}

.map-info-window h2 {
    color: #B01200;
    font-size: 20px;
}

.map-info-window p, .map-info-window a {
    font-size: 15px;
    text-align: center;
    color: #B01200;
}

.map-info-window i {
    font-size: 75px;
    text-align: center;
}

.map-info-window p i {
    text-align: center;
    color: gold;
    font-size: 15px;
}

.map-info-window p a:hover {
    padding-bottom: 1px;
    border-bottom: 1px solid #B01200;
}

#location-details-container {
    height: 1000px;
    width: 100%;
    position: relative;
}

#location-details-inner {
    height: 450px;
    width: 500px;
    position: relative;
    margin: 0 auto; 
}

#button-heading {
    height: 30px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    position: relative;
    z-index: 2;
    background-color: #B01200;
    border-radius: 5px;
    box-shadow: 2px 5px 8px black;
}

#button-heading h3 {
    font-size: 20px;
    color: white;
    text-align: center;
}


#button-container {
    height: 50px;
    width: 650px;
    margin: 0 auto;
    margin-top: 20px;
}

.buttons {
    height: 40px;
    width: 50px;
    display: inline-block;
    color:white;
    background-color: #B01200;
    border-radius: 5px;
    box-shadow: 1px 3px 4px black;
}

.buttons:hover {
    color:#B01200;
    background-color: white;
    border: 1px #B01200 solid;
    box-shadow: 1px 3px 4px black;
}

#location-details-container {
    position: relative;
    z-index: 2;
}

.location {
    height: 100%;
    width: 100%;
    position: relative;
    display: none;
    border: #B01200 2px solid;
    border-radius: 5px;
    box-shadow: 3px 7px 10px;
    margin-top: 10px;
    background-color: #B01200;
}

.location-inner {
    height: 100%;
    width: 100%;
    position: relative;
    display:inline-block;
}

.location-header {
    width: 95%;
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.location-header h2 {
    font-size: 25px;
    color: white;
}

.location-text {
    width: 95%;
    height: 50px;
    position: relative;
    margin: 0 auto;
    border: 1px #B01200 solid;
    margin-bottom: 10px;
}

.location-text p{
    margin: 5px;
    padding: 5px;
    color: white;
}

.location-image-container {
    width: 95%;
    height: 250px;
    position: relative;
    margin: 0 auto;
    border: #B01200 1px solid;
    overflow: hidden;
    border-radius: 20px;
}

.location-pics {
    width: 100%;
    transition: transform 1.0s;
}

.location-pics:hover {
    transform: scale(1.25)
}

.website-link {
    width: 115px;
    height: 25px;
    position: relative;
    margin: 0 auto;
    padding: 5px;
    margin-top: 25px;
}

.website-link a {
    width: 150px;
    height: 25px;
    background-color: #B01200;
    color: white;
    text-align: center;
    font-size: 15px;
    border: 1px white solid;
    border-radius: 5px;
    margin:5px;
    padding: 5px;
    
}

.website-link a:hover {
    width: 150px;
    height: 25px;
    background-color: white;
    color: #B01200;
    text-align: center;
    font-size: 15px;
}

#calf-of-man-2 {
    height: 100%;
    opacity: 0.8;
    position: absolute;
    z-index: 1;
    top: 0px;
}

/* ================================== CONTACT SECTION STYLING ================================== */
#contact {
    width: 100%;
    height: 900px;
    overflow: hidden;
    position: relative;
}

#contact-button {
    float: right;
    position: relative;
    border: 1px black solid;
    margin: 15px;
    padding: 5px;
    background-color: #B01200;
    color: white;
    border-radius: 5px;
    z-index: 2;
}

#contact-button:hover {
    float: right;
    position: relative;
    border: 1px black solid;
    margin: 15px;
    padding: 5px;
    background-color: white;
    color: #B01200;
    border-radius: 5px;
    z-index: 2;
}

#contact-container {
    width: 100%;

}

#contact-form-container {
    width: 900px;
    height: 600px;
    margin: 0 auto;
    border: 1px #B01200 solid;
    position: relative;
    z-index: 2;
    margin-top: 40px;
    background-color: #B01200;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 3px 7px 10px;
    overflow: scroll;
}

#contact-header {
    width: 100%;
    position: relative;
    z-index: 2;
}
#contact-form-container p {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}
#contact-form label {
    font-family: "Roboto";
    color: white;
}

#feedback-form, #submit-button {
    font-family: "Roboto";
    font-size: 20px;
}

#feedback-form label {
    margin-bottom: 20px;
}

.form-box {
    box-sizing: border-box;
    width: 900px; 
    height: 100px;
    border: 1px solid #B01200;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 5px
}

.form-box:hover {
    box-sizing: border-box;
    width: 900px; 
    height: 100px;
    border: 2px solid black;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 5px
}

#form-summary, #form-device, #form-browser, #form-device-info, #email-address {
    padding: 5px;
    height: 40px;
    display: block;
}

#form-device, #form-browser {
    border: 1px solid #B01200;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 5px;
}

#form-device:hover, #form-browser:hover {
    border: 2px solid #B01200;
    border-radius: 10px;
    margin-bottom: 20px;
   
}

#submit-button {
    height: 50px;
    width: 100px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #B01200;
    color: white;
}

#submit-button:hover {
    height: 50px;
    width: 100px;
    background-color: white;
    color: #B01200;
    border: 2px solid black;
    border-radius: 5px;
}

#dragon-rock {
    width: 100%;
    opacity: 0.8;
    position: absolute;
    z-index: 1;
    top: 0px;
}

/* ========================================== CONTACT.HTML STYLING ========================================== */

#feedback-enquiry h2, #feedback-enquiry p {
    margin: 20px;
    text-align: center;
    color:#B01200;
}

#feedback-enquiry h2 i {
    color: green;
}

#feedback-enquiry a h2 {
    text-decoration: none;
    font-size: 20px;
    background-color: white;
    color: #B01200;
}

#feedback-enquiry a h2:hover {
    text-decoration: none;
    font-size: 20px;
    background-color: #B01200;
    color: white;
}



/* ========================================== TABLET STYLING ========================================== */

@media screen and (max-width: 1393px){
    body {
        background-color: lightyellow;
    }

    /* ========= HEADER SECTION ========= */

    header {
        height: 125px;
    }
    #menu-bar-bottom-inner {
        width: 800px;
    }

    #menu-bar-top h1 {
        font-size: 25px;
        margin: 10px 30px 10px 30px;
    }

    #menu a:hover {
        font-size: 20px;
    }

    #menu a:link {
        font-size: 20px;
    }

    #menu li {
        margin: 10px;
    }

    #menu li:hover {
        padding-bottom: 10px;
    }
    
    /* ========= WELCOME SECTION ========= */

    #welcome-section {    
        height: 500px;
    }

    /* ========= BASIC INFORMATION SECTION ========= */
    
    #basic-info-section {
        height: 900px;
    }
    .flip-box h2 {
        font-size: 25px;
    }

    .flip-box h3 {
        font-size: 15px;
    }

    .flip-box p {
        font-size: 12px;
    }

    .basic-info-boxes {
        height: 275px;
    }

    /* ========= FACT SECTION ========= */

    #facts-bottom {
        width: 500px;
        height: 800px;
    }

    .fact {
        height: 600px;
        width: 400px;
    }

    #niarbyl {
        height: 100%;
        opacity: 0.8;
        position: absolute;
        z-index: 1;
        top: 0px;
    }

    /* ========= MAP SECTION ========= */

    #map-intro {
        width: 400px;
    }

    #map {
        width: 600px;
    }

    /* ========= CONTACT US SECTION ========= */
    #contact {
        width: 100%;
        height: 500px;
        overflow: hidden;
        position: relative;
    }
    
    #contact-form-container {
        width: 600px;
        height: 250px;
    }

    .form-box {
        width: 500px;
        height: 50px;
    }

    .form-box:hover {
        width: 500px; 
        height: 50px;
    }

    #contact-form-container p {
        font-size: 12px;
    }
    #contact-form label {
        font-size: 12px;
    }

    /* ========= FOOTER SECTION ========= */

    footer {
        width: 100%;
        height: 200px;
    }

    #social-media-heading {
        width: 600px;
        height: 50px;
    }

    #social-media-heading h2 {
        font-size: 30px;
    }

}


/* =============================================== MOBILE PHONE SCREENS =============================================== */

@media screen and (max-width: 768px){
    body {
        background-color: lightsteelblue;
    }

    .section-headings {
        font-size: 30px;
    }

    /* ========= HEADER SECTION ========= */

    header {
        height: 100px;
    }
    
    #menu-bar-top h1 {
        display: inline-block;
        font-size: 15px;
        margin: 10px;
        float: left;
        width: 175px;

    }

    #menu-bar-top h1 span {
        display: none;

    }

    #menu {
        background-color: #b01200;
    }

    #menu a:hover {
        font-size: 20px;
    }

    #menu a:link {
        font-size: 20px;
        margin: 10px;
    }

    #menu li {
        margin: 15px;
        float: none;
    }

    #menu li:hover {
        padding-bottom: 0px;
        border-bottom: none;
    }

    #dropdown {
        display: block;
        margin: 10px;
        float: left;
    }
    
    #dropdown i {
        font-size: 60px;
        color: white;
    }

    /* ========= WELCOME SECTION ========= */

    #welcome-section {    
        height: 200px;
    }

    #welcome-box {
        width: 250px;
        height: 400px;
        margin-top: 20px;
    }

    #welcome-header h2 {
        font-size: 20px;
        height: 25px;
    }

    #welcome-text {
        padding: 10px;
    }

    #welcome-text p {
        font-size: 13px;
    }

    #bradda-head {
        
    }

    /* ========= FOOTER SECTION ========= */

    footer {
        height: 100px;
    }
    #social-media-heading {
        display: none;
    }

    #social-media-heading {
        width: 300px;
        height: 50px;
    }

    #social-media-heading h2 {
        display: none;
    } 

    #social-media-links {
        width: 250px;
    }

    #social-media-links a {
        font-size: 50px;
        margin-left: 15px;
    }

    #social-media-links a:hover {
        font-size: 50px;
        margin-left: 15px;
    }

    #social-media-links a :link {
        text-decoration: none;
        color: white;
    }

    
}


@media screen and (max-width: 320px){
    body {
        background-color: black;
    }


}