@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    color: white;
    letter-spacing: 5px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: white;
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: white;
}

p, li {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: white;
}

body {
    display: inline;
}

.divider {
    width: 100%;
    height: 10px;
    background-color: #B01200;
    overflow: hidden;
}

/* ========================================== HEADER STYLING ========================================== */
header {
    width:100%;
    height: 250px;
    overflow: hidden;
    background-color: #B01200;
    
}

#menu-bar-top {
    width:100%;
    background-color: #B01200;
}

#menu-bar-bottom {
    width:100%;
    background-color: #B01200;
}

#menu-bar-top, #menu-bar-bottom {
    display: inline-block;
    position: relative;
}
#menu-bar-bottom-inner {
    width: 90%;
    margin: 0 auto;
}

#menu-bar-top h1 {
    margin: 25px 50px 25px 50px;
}

#menu {
    list-style-type: none;
    background-color: lightgray;
}

#menu a {
    text-decoration: none;
    text-align: center;
    position: relative;
    font-size: 30px;
    color: white;
}

#menu a:hover {
    text-decoration: none;
    text-align: center;
    position: relative;
    font-size: 30px;
    color: white;
}

#menu a:link {
    text-decoration: none;
    text-align: center;
    position: relative;
    font-size: 30px;
    color: white; 
}

#menu li {
    float: left;
    background-color: #B01200;
    color: white;
    margin: 20px;
}

#menu li:hover {
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}


/* ========================================== FOOTER.HTML STYLING ========================================== */
footer {
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-color: #B01200;
}

#social-media {
    height: 100%;
    width: 100%;
    position: relative;
    display: inline-block;
}

#social-media-heading {
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    background-color: #B01200;
}

#social-media-heading h2 {
    font-size: 50px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: white;
    letter-spacing: 5px;
}

#social-media-links {
    width: 600px;
    height: 100px;
    margin: 0 auto;
    background-color: #B01200;
}

#social-media-links ul {
    list-style-type: none;
    position: relative;
    margin: 0 auto;
}

#social-media-links a {
    text-decoration: none;
    text-align: center;
    position: relative;
    font-size: 80px;
    margin-left: 50px;
    color: white;
}

#social-media-links a:hover {
    text-decoration: none;
    text-align: center;
    position: relative;
    font-size: 80px;
    margin-left: 50px;
    color: lightskyblue;
}

#social-media-links a :link {
    text-decoration: none;
    color: white;
}


#social-media-links ul li {
    position: relative;
    float: left;
}

/* ========================================== INDEX.HTML STYLING ========================================== */

.section-headings {
    text-align: center;
    font-size: 50px;
}


/* ================================== WELCOME SECTION STYLING ================================== */

#welcome-section {
    width:100%;
    height: 800px;
    overflow: hidden;
    position: relative;
}

#welcome-box {
    width: 700px;
    height: 500px;
    color: white;
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    z-index: 2;
}

#welcome-header h2 {
    height: 50px;
    font-size: 40px;
    text-align: center;
    opacity: 0.7;
    background-color:#B01200;
    font-family: 'Roboto', sans-serif;
}

#welcome-text {
    display: none;
    padding: 50px;
    opacity: 0.7;
    background-color:#B01200;
}

#bradda-head {
    width: 100%;
    opacity: 0.8;
    position: absolute;
    z-index: 1;
    top: 0px;
}

/* ================================== BASIC INFO SECTION STYLING ================================== */
#basic-info-section {
    width:100%;
    height: 1000px;
    overflow: hidden;
    border: 1px solid red; /* Remove later */
}

#basic-info-header {
    width: 100%;
    height: 100px;
    background-color: #B01200;
    color: white;
}

#basic-info-header h1 {
    text-align: center;
    font-size: 50px;
}

#basic-info-inner {
    width: 100%;
    height: 900px;
}

#inner-left, #inner-center, #inner-right {
    display: inline-block;
    width: 33.3%;
    height: 100%;
}

#inner-left, #inner-center, #inner-right {
    position: relative;
}

#inner-left {
    float: left;
}

#inner-center {
    margin: 0 auto;
}

#inner-right {
    float: right;
}

.basic-info-boxes {
    width: 100%;
    height: 300px;
    border: 1px solid black;
}


#capital, #population, #language, #flag, #currency {
    width: 100%;
    height: 100%;
    perspective: 1000px;
}

#capital-container, #population-container, #language-container, #flag-container, #currency-container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.flip-box {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.basic-info-boxes-inner {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #B01200;
}

#capital-back, #population-back, #language-back, #flag-back, #currency-back {
    transform: rotateY(180deg);
}

#population-back p a:hover {
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

#IoM-flag, #IoM5er {
    width: 200px;
}

.flip-box {
    padding-top: 10px;
}
.flip-box h2 {
    padding-top: 25%;
    font-size: 50px;
    color: white;
}

.flip-box h3 {
    font-size: 25px;
    color: white;
}

.flip-box p {
    font-size: 20px;
    padding: 20px;
    color: white;
}

.rotate {
    transform: rotateY(180deg);
}

/* ================================== FACTS SECTION STYLING ================================== */
#facts-section {
    width:100%;
    height: 500px;
    overflow: hidden;
    border: 1px solid green; /* Remove later */
}

/* ================================== MAPS SECTION STYLING ================================== */
#maps-section {
    width:100%;
    height: 1000px;
    overflow: hidden;
}

#map-container {
    height:100%;
}

#map-container h1 {
    text-align: center;
    font-size: 50px;
}

#map {
    width: 700px;
    height: 700px;
    margin: 0 auto;
    margin-top: 50px;
}

#map-header {
    width: 100%;
    height: 100px;
    background-color: #B01200;
    color: white;
}

/* ================================== USEFUL LINKS SECTION STYLING ================================== */

#useful-links-section {
    width:100%;
    height: 500px;
    overflow: hidden;
    border: 1px solid green; /* Remove later */
}
/* ========================================== CONTACT.HTML STYLING ========================================== */


/* ========================================== TABLET STYLING ========================================== */

@media screen and (max-width: 1393px){
    body {
        background-color: lightyellow;
    }

   
}


/* =============================================== MOBILE PHONE SCREENS =============================================== */

@media screen and (max-width: 768px){
    body {
        background-color: lightsteelblue;
    }


}